@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */
body {
    font-family: "Noto Sans TC", sans-serif;
    font-style: oblique 15dg;
    margin: 0;
    line-height: 1.5;
    background-color: #fff;
    color: #313131;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #e63959;
    margin: 8px auto 0;
    border-radius: 3px;
}

section {
    padding: 60px 25px;
    max-width: 1000px;
    margin: auto;
}

header.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 100;
}

.hero-text h1 {
    align-items: center;
    font-size: 20px;
    transform: scaleY(2);
}

.hero-text h1 a {
    color: #f1f1f1;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    align-items: center;
}

/* MENÚ */
.main-menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items:center;  
    justify-content: right;
    z-index: 100;
}

.main-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 50px;
    gap: 40px;
}

.main-menu li {
    display: flex;
    align-items: center;  
}

.main-menu a {
    color: rgb(129, 129, 129);
    text-decoration: none;
    font-weight: bold;
    padding: 0 15px; 
    height: 100%;
    display: flex;
    align-items: center; 
    transition: color 0.3s;
}

.main-menu a:hover {
    color: white;
}

#menu-toggle, .menu-icon {
    display: none;
}

/* IMAGEN DE FONDO */
div.background {
    position: relative;
    background-image: url('https://github.com/bvelasquezp-BrigitteKarolay/Proyecto-Grupal/raw/main/IMAGEN%202%20GYM.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 20vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECCIÓN BIENVENIDA */
#inicio {
    margin-top: 10px;
    margin-bottom: 0px;
}

.bienvenida {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}

.bienvenida-texto {
    flex: 1 1 55%;
}

.bienvenida-texto h2 {
    font-size: 38px;
}

.bienvenida-texto p {
    text-align: left;
    font-size: 17px;
}

.bienvenida-logo {
    flex: 1 1 35%;
    text-align: center;
}

.bienvenida-logo img {
    max-width: 100%;
    height: auto;
}

/* NOSOTROS Y SERVICIOS */
#nosotros-servicios {
    margin-top: 10px;
    margin-bottom: 0px;
}

.flex-seccion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.info-lateral {
    flex: 1 1 55%;
}

.info-lateral h2 {
    color: #111;
    text-align: center;
}

.info-lateral ul {
    padding-left: 20px;
}

.info-lateral li {
    margin-bottom: 8px;
}

.imagen-lateral {
    flex: 1 1 40%;
    text-align: justify;
}

.imagen-lateral img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ENTRENADORES */
#entrenadores{
    margin-top: 50px;
    margin-bottom: 0px;
}

.bg-light {
    background-color: #f5f5f5;
    padding-top: 30px;
}

.entrenadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.entrenadores article {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/* CONTACTO */
.contacto {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contacto li {
    margin: 6px 0;
}

/* FOOTER */
footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

#logo {
    padding-top: 40px;
    padding-bottom: 30px;
}

#redes{
    padding: 25px;
}

#redes p {
    margin-bottom: 20px;
}

.redes {
    list-style: none;
    display: flex; 
    justify-content: center; 
    gap: 20px;   
    padding: 0;
    margin-top: 10px;
}

hr {
    margin: 0;
}

.redes li {
    width: 40px;
    height: 40px;
    border-radius: 50%;         
    background-color: #ffffff;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:#646464;
}

.redes li:hover {
    transform: scale(1.1);  
}

.redes a {
    color: #000000;    
    font-size: 20px;          
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    header.hero {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        padding: 10px 15px;
    }

    .hero-text h1 {
        font-size: 20px;
    }

    .main-menu label {
        font-size: 26px;
        color: white;
        cursor: pointer;
        padding-right: 30px;
        display: flex;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-icon {
        justify-content: flex-end;
        display: block;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .main-menu ul {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 100;
    }

    #menu-toggle:checked ~ ul {
        display: flex;
    }

    .main-menu li {
        padding: 15px 0;
    }

    .main-menu a {
        color: #bbb;
        text-decoration: none;
        display: block;
        transition: color 0.3s;
    }

    .main-menu a:hover {
        color: white;
    }

    div.background {
        position: relative;
        background-image: url('https://github.com/bvelasquezp-BrigitteKarolay/Proyecto-Grupal/raw/main/IMAGEN%202%20GYM.png');
        background-repeat: no-repeat;
        background-position:center top;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        top: 70px; 
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    div.background {
        width: 100%;
        height: 40vh;
        aspect-ratio: 16 / 9;
        background-size: contain;
    }
}
