@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

/*ENCABEZADO PRINCIPAL*/
header.hero {
    background-image: url('https://github.com/bvelasquezp-BrigitteKarolay/Proyecto-Grupal/raw/main/IMAGEN%202%20GYM.png');
    background-size: cover;
    background-attachment: local;
    height: 100dvh; 
    width: 100%; 
    background-position: center top;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

header.hero::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

.overlay { 
    position: relative; 
    z-index: 1; 
}

nav ul {
    list-style: none;
    padding: 10px 20px;
    display: inline-block;
    background: rgba(255,255,255,0.1);
    border-radius: 40px;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 25px;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #e63959;

}

/* SECCIONES GENERALES */
section {
    padding: 60px 25px;
    max-width: 1000px;
    margin: auto;
}

section:nth-child(even) {
    background-color: #f9f9f9;
}


h2 {
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    position:relative;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #e63959;
    margin: 8px auto 0;
    border-radius: 3px;
}

/*SECCION BIENVENIDOS*/
.bienvenida {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.bienvenida-texto {
    flex: 1 1 55%;
}

.bienvenida-texto h2 {
    font-size: 38px;
    color: #111;
    text-align: center;
}

.bienvenida-texto p {
    text-align: left;
    font-size: 17px;
}

.bienvenida-logo {
    flex: 1 1 35%;
    text-align: center;
}

.bienvenida-logo img {
    width: 250px;
}

/*SECCION NOSOTROS + SERVICIOS*/
.flex-seccion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-direction: row; 
}

.info-lateral {
    flex: 1 1 55%;
}

.info-lateral h2 {
    text-align: center ;
    color: #111;
}

.info-lateral ul {
    padding-left: 20px;
}

.info-lateral li {
    margin-bottom: 8px;
}

.imagen-lateral {
    flex: 1 1 40%;
    text-align: center;
}

.imagen-lateral img {
    width: 330px;
    border-radius: 10px;
}

/*ENTRENADORES*/
.bg-light {
    background-color: #f5f5f5;
}

.entrenadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.entrenadores article {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/*CONTACTO*/
.contacto {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contacto li{
    margin: 6px 0;
}

/*PIE DE PAGINA*/
footer {
    background: #000000;
    color: #f1f1f1;
    text-align: center;
    padding: 25px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.redes {
    background-color: #000000;
    list-style: none;
    display: flex; 
    justify-content: center; 
    gap: 25px;   
    padding: 0;
    margin-top: 10px;
}

.redes li {
    width: 55px;
    height: 55px;
    border-radius: 50%;         
    background-color: #000000;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgb(62, 62, 62);
}

.redes li:hover {
    transform: scale(1.1);  
}

.redes a {
    color: #9c9c9c;    
    font-size: 30px;          
    text-decoration: none;
}

.redes li:hover a {
    color: rgb(255, 255, 255);              
}

#redes {
    color: white;
}

.linea-div {
    color: #f1f1f1;
}

footer p {
    margin-top: 4px;
    margin-bottom: 4px; 
}


/*RESPONSIVE*/
@media (max-width: 768px) {
    .bienvenida, .flex-seccion {
    flex-direction: column;
    text-align: center;
    }
    .bienvenida-texto h2 {
    text-align: center;
    }
    .info-lateral h2 {
    text-align: center;
    }
}