@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-style: oblique 15dg;
    margin: 0;
    line-height: 1.5;
    background-color: #fff;
    color: #313131;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #e63959;
    margin: 8px auto 0;
    border-radius: 3px;
}

section {
    padding: 60px 25px;
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  position: fixed; 
  width: 100vw;
  top: 0;
  z-index: 1000; 
}

header h1 {
  font-family: "Alumni Sans SC", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #e63956;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
}

#menu-toggle {
    display: none;
}

/* IMAGEN DE FONDO */
div.background {
    position: relative;
    background-image: url('https://github.com/bvelasquezp-BrigitteKarolay/Proyecto-Grupal/raw/main/IMAGEN%202%20GYM.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 20vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECCIÓN BIENVENIDA */
#inicio {
    margin-top: 10px;
    margin-bottom: 0px;
}

.bienvenida {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}

.bienvenida-texto {
    flex: 1 1 55%;
}

.bienvenida-texto h2 {
    font-size: 38px;
}

.bienvenida-texto p {
    text-align: left;
    font-size: 17px;
}

.bienvenida-logo {
    flex: 1 1 35%;
    text-align: center;
}

.bienvenida-logo img {
    max-width: 100%;
    height: auto;
}

/* NOSOTROS Y SERVICIOS */
#nosotros-servicios {
    margin-top: 10px;
    margin-bottom: 0px;
}

.flex-seccion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.info-lateral {
    flex: 1 1 55%;
}

.info-lateral h2 {
    color: #111;
    text-align: center;
}

.info-lateral ul {
    padding-left: 20px;
}

.info-lateral li {
    margin-bottom: 8px;
}

.imagen-lateral {
    flex: 1 1 40%;
    text-align: justify;
}

.imagen-lateral img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ENTRENADORES */
#entrenadores{
    margin-top: 50px;
    margin-bottom: 0px;
}

.bg-light {
    background-color: #f5f5f5;
    padding-top: 30px;
}

.entrenadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.entrenadores article {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/* CONTACTO */
.contacto {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contacto li {
    margin: 6px 0;
}

/* FOOTER */
footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

#logo {
    padding-top: 40px;
    padding-bottom: 30px;
}

#redes{
    padding: 25px;
}

#redes p {
    margin-bottom: 20px;
}

.redes {
    list-style: none;
    display: flex; 
    justify-content: center; 
    gap: 20px;   
    padding: 0;
    margin-top: 10px;
}

hr {
    margin: 0;
}

.redes li {
    width: 40px;
    height: 40px;
    border-radius: 50%;         
    background-color: #ffffff;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:#646464;
}

.redes li:hover {
    transform: scale(1.1);  
}

.redes a {
    color: #000000;    
    font-size: 20px;          
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    nav ul {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 200px;
        height: 100vh;
        background-color: #111;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding-top: 40px;
        padding-left: 20px;
        gap: 25px;
        transition: right 0.3s ease;
    }

    #menu-toggle:checked ~ nav ul {
        right: 0;
    }

    .menu-icon {
        display: block;
        right: 0;
        padding-right: 30px;
    }

    div.background {
        position: relative;
        background-image: url('https://github.com/bvelasquezp-BrigitteKarolay/Proyecto-Grupal/raw/main/IMAGEN%202%20GYM.png');
        background-repeat: no-repeat;
        background-position:center top;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        top: 50px; 
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    div.background {
        width: 100%;
        height: 40vh;
        aspect-ratio: 16 / 9;
        background-size: contain;
    }
}
